In [14]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [15]:
dataset = pd.read_csv("Files/2-Data.csv")

In [16]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [17]:
# x = dataset.iloc[:, :-1].values
# y = dataset.iloc[:, 3].values
x = dataset[['Country', 'Age', 'Salary']]
y = dataset['Purchased']

In [18]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

In [20]:
#Promediando valores nulos

# dataset.loc[(dataset['Age'].isnull() == True), 'Age'] = dataset['Age'].mean()
# dataset.loc[(dataset['Salary'].isnull() == True), 'Salary'] = dataset['Salary'].mean()
# dataset = dataset.round(1)

imputer = SimpleImputer(missing_values=np.NaN, strategy='mean')
x[['Age', 'Salary']] = imputer.fit_transform(x[['Age', 'Salary']])

C:\Users\Marti\AppData\Local\Temp\ipykernel_14488\3119475579.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[['Age', 'Salary']] = imputer.fit_transform(x[['Age', 'Salary']])

In [22]:
#Cambio de países a variables dummmy

columntransformer = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   
    remainder='passthrough'                        
)
x = np.array(columntransformer.fit_transform(x))

In [23]:
#Pasaje de datos categoricos ("Yes" "No") a numericos ("1s" y "0s")

labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [24]:
#Divicion del dataset en entrenamiento y prueba. 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [25]:
#Escalado de variables
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test) #Para el test no uso fit_transform ya que busco que el escalado lo haga con la transformacion detectada anteriormente

#Al ser un algoritmo de clasificacion, no escalaré las variables y_train e y_test, es de compra o no compra
#Si fuera un algoritmo de regresión lineal, entonces sí convendría normalizar esas variables