In [250]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [251]:
dataset = pd.read_csv("Data.csv")

In [252]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [253]:
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values
# x = dataset[['Country', 'Age', 'Salary']]
# y = dataset['Purchased']

In [254]:
# dataset.loc[(dataset['Age'].isnull() == True), 'Age'] = dataset['Age'].mean()
# dataset.loc[(dataset['Salary'].isnull() == True), 'Salary'] = dataset['Salary'].mean()
# dataset = dataset.round(1)

imputer = SimpleImputer(missing_values=np.NaN, strategy='mean')
imputer = imputer.fit(x[:, 1:3])
x[:, 1:3]=imputer.transform(x[:, 1:3])

In [255]:
# from sklearn import preprocessing
# le_x = preprocessing.LabelEncoder()
# x[:,0] = le_X.fit_transform(x[:,0])

In [256]:
columntransformer = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   
    remainder='passthrough'                        
)
x = np.array(columntransformer.fit_transform(x))

In [260]:
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [263]:
from sklearn.model_selection import train_test_split